@font-face {
	font-family: 'Rubik';
	src: url('../fonts/') format('woff2'), url('../fonts/Rubik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-Regular.woff2') format('woff2'), url('../fonts/Rubik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/*Rubik => 400, 500 */
html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dotted #7296ee;
	outline-offset: 3px;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #4a4b4c;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	max-width: 1240px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: auto;
	margin-left: auto;
}

.site-header-top {
	background-color: #f6f6f6;
	padding-top: 30px;
	padding-bottom: 30px;
}

.site-header-top-container {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 35px;
	padding: 9px 6px;
	background-color: #fff;
	border-radius: 8px;
	text-decoration: none;
	color: #7296ee;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.44px;
	transition: opacity 0.4s ease;
}

.logo:hover {
	opacity: 0.8;
}

.logo:active {
	opacity: 0.6;
}

.site-header-price-wrapper {
	display: flex;
	color: #000;
	margin-right: auto;
}

.site-header-price-span {
	color: #2959ce;
	font-weight: 700;
	font-size: 16px;
}

.site-header-price:not(:last-child) {
	margin-right: 25px;
}

.form-sear input {
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: 15px;
}

.form-sear {
	margin-right: 25px;
}

.form-sear input {
	border: none;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 41px;
	background-color: #ffffff;
	border-radius: 60px;
}

.site-header-countries {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #dce6ff;
	padding: 3px 13px 3px 3px;
	border-radius: 40px;
	font-size: 13px;
	color: #a6a6a6;
	margin-right: 25px;
	cursor: pointer;
}

.site-header-countries-active {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	margin-right: 8px;
	color: #000000;
}

.btn {
	padding: 13px 20px;
	background-color: #7296ec;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 0.4s ease;
}

.btn:hover {
	border: 1px solid #7296ec;
	background-color: #fff;
	color: #7296ec;
}

.btn:active {
	opacity: 0.6;
}

/* NAVBAR START */
.sitenav {
	padding-top: 30px;
	padding-bottom: 20px;
}
.sitenav-list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.sitenav-item a {
	text-decoration: none;
	color: #7f7f7f;
	font-size: 18px;
	font-weight: 500;
	transition: all 0.4s ease;
}

.sitenav-item a:hover {
	color: #7296ec;
}

.sitenav-item a:active {
	opacity: 0.6;
}

.sitenav-hr {
	margin-bottom: 40px;
	border: none;
	border: 1px solid #d1d1d1;
}
/* NAVBAR END */

/* aside start*/
.aside {
	margin-bottom: 50px;
}

.aside a {
	transition: all 0.4s ease;
}

.aside a:hover {
	opacity: 0.8;
}

.aside a:active {
	opacity: 0.6;
}
/* aside end*/

main {
	flex-grow: 1;
	padding-bottom: 100px;
}

.main-grid-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	gap: 15px;
	padding-bottom: 40px;
}

.main-grid-item {
	background-color: #f6f6f6;
	padding: 20px 18px 15px;
	border-radius: 15px;
}

.main-grid-link {
	text-decoration: none;
}

.main-grid-link h2 {
	display: inline-block;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	color: #000;
	margin-bottom: 10px;
	transition: all 0.4s ease;
}

.main-grid-link h2:hover {
	color: #7296ec;
}

.main-grid-link h2:active {
	opacity: 0.6;
}

.main-grid-text {
	color: #4a4b4c;
	line-height: 22px;
	margin-bottom: 15px;
}

.main-grid-item img {
	width: 360px;
	height: 165px;
	object-fit: cover;
	margin-bottom: 15px;
}

.main-grid-bottom {
	display: flex;
	align-items: center;
}

.main-grid-bottom img {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
	width: 20px;
	height: 20px;
	object-fit: contain;
	margin-right: 10px;
}

.main-grid-bottom p {
	color: #5e5f61;
	font-size: 12px;
	line-height: 14px;
}

/* notification */
.notification {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 29px;
	padding-right: 71px;
	margin-bottom: 60px;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 10px;
	max-width: 1050px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.notification-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
}

.notification-btn {
	text-decoration: none;
	color: #fff;
	background-color: #f78b3b;
	border: 2px solid transparent;
}

.notification-btn:hover {
	border: 2px solid #f78b3b;
	color: #f78b3b;
}

/* world-news */
.world-news-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.world-news {
	width: 65%;
}

.world-news-title {
	font-weight: 500;
	font-size: 24px;
	line-height: 28.44px;
	margin-top: 0;
	margin-bottom: 20px;
}

.world-news-list {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 17px;
}

.world-news-item {
	background-color: #f6f6f6;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.world-news-item:not(:last-child) {
	margin-bottom: 10px;
}

.world-news-img {
	width: 210px;
	height: 165px;
	object-fit: cover;
	margin-right: 15px;
}

.world-news-info-title {
	color: #000;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 10px;
}

.world-news-info-title a {
	text-decoration: none;
	color: #000;
	transition: all 0.4s ease;
}

.world-news-info-title a:hover {
	color: #2959ce;
}

.world-news-text {
	margin-top: 0;
	margin-bottom: 17px;
}

.world-news-inner {
	display: flex;
	align-items: center;
}

.world-news-inner-img {
	width: 20px;
	height: 20px;
	object-fit: contain;
	margin-right: 10px;
}

.world-news-inner-text {
	font-size: 12px;
	line-height: 14.22px;
}

.world-news-btn {
	border: none;
	width: 100%;
	padding-top: 17px;
	padding-bottom: 17px;
	border-radius: 10px;
	font-weight: 500;
	color: #000;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
	transition: opacity 0.4s ease;
}

.world-news-btn:hover {
	opacity: 0.8;
}

.world-news-btn:active {
	opacity: 0.6;
}

/*.world-news-righ */
.world-news-righ {
	width: 32%;
}

.world-news-righ-wrapper {
	background-color: #f6f6f6;
	padding-top: 20px;
	padding-left: 17px;
	padding-bottom: 25px;
	border-radius: 15px;
	margin-bottom: 10px;
	color: #000;
}

.world-news-righ-title {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 25px;
}

.world-news-righ-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.world-news-righ-item:not(:last-child) {
	margin-bottom: 20px;
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 20px;
}

.world-news-righ-link {
	text-decoration: none;
	color: #000;
	transition: all 0.4s ease;
}

.world-news-righ-link:hover {
	color: #2959ce;
}

.world-news-righ-link:active {
	opacity: 0.6;
}

.world-news-right-item-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.33;
	margin-top: 0;
	margin-bottom: 8px;
}

.world-news-right-item-text {
	font-size: 13px;
	line-height: 15.41px;
	margin-top: 0;
	margin-bottom: 0;
}

/* FOOTER */
.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #7297ef;
	color: #fff;
}

.footer-top {
	display: flex;
	align-items: start;
	justify-content: space-between;
	margin-bottom: 30px;
}

.footer-top-info {
	max-width: 264px;
	width: 100%;
}

.footor-logo {
	display: inline-block;
	background-color: transparent;
	margin-bottom: 15px;
}

.footer-top-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-top-item:not(:last-child) {
	margin-bottom: 20px;
}

.footer-top-link {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	transition: all 0.4s ease;
}

.footer-top-link:focus {
	outline: 2px dotted #000;
	outline-offset: 3px;
}

.footer-top-link:hover {
	color: #000;
}

.footer-top-link:active {
	opacity: 0.6;
}

.footer-line {
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: #fff;
}

.footer-bootom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-bootom-info {
	max-width: 161px;
	width: 100%;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.3;
}

.footer-bootom-list {
	list-style: none;
	display: flex;
	align-items: center;
}

.footer-bootom-item:not(:last-child) {
	margin-right: 25px;
}

.footer-bootom-link {
	display: flex;
	align-items: center;
	justify-content: center;
}
